@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Document */

#head_bg
{
background:url(images/bg3.jpg) repeat-x;
height:100%;
width:100%;
position:absolute;
z-index:-1;
}

#wrapper
{
width:1000px;
height:1000px;
margin: 0 auto;
z-index:1;
}



#top
{
background:url(images/bg.jpg) repeat-x;
height:55px;
}



#logo
{
margin:5px;
width:82px;
height:40px;
float:left;
}

#search_nav
{
background:url(images/icon-search.jpg) no-repeat top left scroll;
float:left;
margin:15px;
border:1px solid;
}

#search_form
{
color:#999999;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
margin-left:20px;
border:none;
width:200px;
height:20px;

}

#op_tk
{

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#666666;
height:22px;
width:90px;
}

#btn_tk
{

width:50px;
border:none;
}
#btn_tk:hover
{
font-weight:bold;
cursor:pointer;
}

#btn_tk:active
{
}

#login
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
float:left;
margin-top:20px;
margin-left:250px;
width:200px;
}

#login a
{
text-decoration:none;
color:#0099FF;
font-weight:bold;
}

#login a:hover
{
color:#FF0000;
}



#nav
{
background:url(images/bg2.jpg) repeat-x;
line-height:31px;
}


.nav_menu 
{
margin-left:10px;
width:500px;
padding-left:40px;
padding-top:6px;

}

.nav_menu li
{
display:inline;
margin:-3px 10px 0px;
float:left;
padding-bottom:2px;

}


.nav_menu li ul
{
position:absolute;
display:none;
width:150px;
margin-left:-8px;

}

.nav_menu li:hover div
{
display:block;

}

.nav_menu li:hover ul
{
display:block;

}

.menu1 a
{
width:90px;


}

.menu1:hover li
{
cursor:pointer;

}

.menu1
{
background-color:#333333;
position:absolute;
display:none;
margin-top:1px;
}


#menu2
{

height:101px;
width:123px;

}

#menu3
{
height:133px;
width:160px;
}

#menu3 a
{
width:127px;
}

.menu li ul li
{

}

.nav_menu a
{
display:inline-block;
text-decoration:none;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
padding:0 15px 0px;
}

.nav_menu li a
{

}

.menu1 ul li a
{
font-size:14px;
font-family:Tahoma;
}

.nav_menu a:hover
{
background-color:#24bde2;
}

.nav_menu a:visited
{
text-decoration:none;
}

#home
{
width:35px;
height:35px;
position:absolute;
margin-left:10px;
}

#home:hover
{
background-color:#24bde2;
}

#up_nav
{
position:relative;
top:-31px;
left:620px;
width:400px;

}



.ud
{

background-color:#24bde2;
height:25px;
width:180px;
border: solid 1px #4adcff;

}

.ud:hover
{
cursor:pointer;
background-color:#ff6734;
}

.ud a
{
text-decoration:none;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
margin-left:6px;
padding-left:20px;
line-height:25px;
}

#user
{
	float:left;
	margin-left:15px;
}

#user a
{
	background:url(images/icon-user.jpg) no-repeat left;
}

#up
{
float:left;
}

#up a
{
background:url(images/icon-upload.jpg) no-repeat left;

}


#down
{
margin-left:15px;
float:left;

}

#down a
{
background:url(images/icon-playlist-nhaccuatui.jpg) no-repeat left;
}

#body
{
width:1000px;
height:890px;
}


#left_ct
{
width:690px;
height:500px;
float:left;
}

#right_area
{
width:250px;
height:500px;
background-color:#000000;
margin-left:15px;
margin-top:2px;
float:left;

}

#top_ads
{
height:120px;
margin-top:-24px;
float:left;
}

#news_area
{
width:690px;
height:200px;
float:left;
margin-top:5px;
}

.news
{
width:220px;
height:200px;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;


}

#news2
{
margin-left:15px;
}
#news3
{
margin-left:15px;
}

.news a
{
color:#0D6AA9;
text-decoration:none;
font-size:13px;
font-weight:bold;
}

.news p
{
padding-top:5px;
font-size:12px;
color:#333333;
line-height:15px;
}

.avatar
{
width:220px;
height:120px;
float:left;
padding-bottom:5px;
}

#songs
{
height:535px;
width:690px;
border: solid 1px #dddddd;
float:left;
margin-top:10px;

}



#title
{
width:99.5%;
height:30px;
background-color:#5FBBE6;
color:#FFFFFF;
padding-left:5px;
font-weight:bold;
font-size:16px;
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:30px;
}


#upload
{
float:left;
border: solid 1px #dddddd;
height:500px;
width:687px;
margin-top:10px;
}


.up_result
{
color:#000000;
height:150px;
width:750px;
float:left;
padding-bottom:20px;
margin-top:0;
}

.up_result p
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
margin:0 15px;
}

#form_up
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

#up_submit
{
background-color:#24bde2;
height:30px;
width:150px auto;
border: solid 1px #4adcff;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
margin: 10px 5px;
padding: 5px;
}

#up_submit:hover
{
cursor:pointer;
background-color:#ff6734;
}

#up_file
{
font-size:15px;

}

.font
{
color:red;
font-size:30px;
margin: 0 150px;
font-weight:bold;
}

#song_name
{
width:300px;
}

#singer
{
width:200px;

}

#type_song
{
width:200px;
}

#footer
{
margin-top:10px;
border: solid 1px #dddddd;
height:125px;
width:1000px;
padding-bottom:5px;
}

#footer p
{
padding-left:5px;
font-size:15px;
font-family:verdana;
font-weight:bold;
}


#play
{
float:left;
border: solid 1px #dddddd;
height:700px;
width:687px;
margin-top:10px;
}

#download_2
{
margin-left:20px;
font-size:22px;
font-family:tahoma;
font-weight:bold;
text-decoration:none;
color:#0000FF;
}

#download_2:hover
{
color:#FF0000;
}

#info_song
{
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:bold;
font-size:18px;
color:#FF0000;
}

#special
{
color:#0000FF;
font-family:Tahoma;
font-weight:bold;
font-size:25px;
}


.top10
{
font-family:tahoma;
font-size:14px;
padding-top:10px;
padding-left:20px;
float:left;
width:320px;
height:92%;
border-right: thin #CCCCCC solid;
}

#top_new
{
font-family:tahoma;
font-size:14px;
padding-top:10px;
padding-left:30px;
float:left;
width:290px;
height:92%;
}

#number
{

width:25px;
height:22px;
background-color:#FF9933;
float:left;
padding-top:3px;

}
#number p
{
font-weight:bold;
color:#FFFFFF;
line-height:20px;
}

#song2 p
{

color:#0033FF;
font-weight:bold;
margin-top:-5px;
line-height:20px;
}

#song2 a
{
text-decoration:none;
}

#song2 p:hover
{
color:#FF9900;
}

#song2
{
margin-left:10px;
float:left;

}

#song2 h
{
font-size:13px;
}

.wrap
{
margin-top:15px;

}

